body {
  background-color: lightgray;
  color: #212529;
}

/* Main content area */
#main-content {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  margin-top: 10px;
}

/* Sidebar */
/* #sidebar {
  background-color: rgba(30, 30, 30, 0.12);
  padding: 20px;
  border-radius: 0 10px 10px 0;
  margin-top: 20px;
} */

/* No Border Radius for Main Content and Sidebar on Mobile */
@media (max-width: 768px) {
  #main-content,
  #sidebar {
    border-radius: 0;
  }
}

/* Footer */
footer {
  color: #cccccc;
  width: 100%;
}
